RewriteEngine On

# Apache'nin Authorization header'ını koruması için
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# FastCGI ile çalışan PHP için
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [env=HTTP_AUTHORIZATION:%1]

# mod_headers modülü için
<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS"
    Header always set Access-Control-Allow-Headers "Authorization, Content-Type"
    Header always set Access-Control-Expose-Headers "Authorization"
</IfModule>

# CGI/FastCGI ayarları
CGIPassAuth on
Options +FollowSymLinks